body {
    font-family: Bell MT, Geneva, Maiandra;
    font-size: 20px; 
}

}
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


/* sección Header */
header .contenedor{
    background: #0B695E;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

header .contenedor .navbar-brand img {
    max-width: 75px;
}
header .navbar-toggler img {
    max-width: 30px;
    max-height: 30px;
    filter: invert(1);
}

header .contenedor .navbar-collapse {
        justify-content: center;
}

header .contenedor .navbar-collapse ul li a{
    color: #ffffff;
}

header .contenedor .navbar-collapse ul li a:hover {
    color: #79D698;
}

header{
    width: 100%;
    background: url(../img/background.jpg) center no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 600px;
}
header .text-Hero h1{
    color: #0B695E;
    top: 200;
}

/* Bienvenidos*/
#Bienv .card {
    background: #0B695E;
    top: -150px;
    text-align: center;
    max-width: 100%;
    height: 400px;
    color: white;  
}
#Bienv a{
  
    border-color: #0B8835;
    background:white;
}
#Bienv .card a{
    color: #0B695E;
}
#Bienv .container{
    justify-content: center;
}
#Present .cont-item img{
    max-width: 100%;
}
/* Conocenos*/
#Present .cont-item{
    width: 100%;
    position: relative;
    top: -120px;
    text-align: center;
    border: #0B695E 3px solid;
    background-position: center;
    background-size: cover;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;   
}
.centrado{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -30%);
}
#Present .centrado{
    color:#0B695E;
    border-color:#79D698;
}
  
/* Quienes somos*/
#Social {
    width: 200%;
    padding-bottom: 250px;   
}
#Social .container img{
    max-width: 30%;  
}
img.derecha {
    float: right;
    margin: 10px;
    padding: 10px;
}
#Social {
    width: 100%;
    padding-bottom: 400px;
    background: url(../img/2background.jpg) center no-repeat; 
    background-position: center; 
    position: relative;
    text-align: center;
    background-size: cover;
}

#Social .card {
    background: #0B695E;
    top: -100px;
    text-align: center;
    max-width:100%;
    height: 350px;
    color: white;  
}
#Social a{
   
    border-color: #0B8835;
    background:white;
}
#Social .card a{
    color: #0B695E;
}
/* Perfil Profesional*/
#Perfil{
    max-width: 100%;
    background: url(../img/perfil-background.jpg)center no-repeat;
    padding-bottom: 300px;
    background-size: cover;
    background-position: center; 
    position: relative;
    text-align: center;  
} 
#Perfil .container .row{
    border: #0B695E 3px solid;
    height: 250px;      
}  
#Perfil .container h3{
    text-align: center;
    color:#0B695E;  
    margin:20px ; 
}
#Perfil .container p{
    color:#0B695E;
    text-align: center;
    margin-bottom: 100px;
}
#Perfil .container h4{
    text-align: center;
    color:#0B695E;
    border: #0B695E 3px solid;
    background-color:#79D698;
    margin: 20px;   
}#Perfil .container h4:hover{
    color: #0B695E;
}
#Perfil img{
    padding-top: 10px;
    margin: 15px;
    border-radius: 200px;
    width: 30%;
}
#Perfil p{
    border-radius: 10px;
    border-left: blueviolet;
    border-bottom: 100px;
}
/* Perfil Personal */
#Perfilp{
    width: 100%;
    background: url(../img/personal12.jpg)center no-repeat;
    padding-bottom: 400px;
    background-size: cover;
    background-position: center; 
    position: relative;
    text-align: center;
} 
#Perfilp .container .row{
    width: 100%;
    border: #0B695E 3px solid;
    height: 200px;      
}  

#Perfilp .container h3{
    text-align: center;
    color:#0B695E;
    margin:5px ;   
}      
#Perfilp .container p{
    color: #0B695E;
    text-align: center; 
}
#Perfilp .container img{
 width: 5%;
 padding-top: 10%;
}
#Perfilp .container .row .col-md-6 .accordion {
    margin-top: 10%;
}
#Perfilp .card {
    position: relative;
    border-style: solid;
    border-color: #0B695B;
    border-width: 5px;
    margin-top: 10px;  
}

#Perfilp img {
    position: absolute;
    top: 0;
    right:8px;
}
/* Promociona*/
#Promo{
    padding-bottom: 150px; 
}
#Promo h2{
    color:#0B695E; 
    text-align: center; 
    padding-top: 20px; 
  
}
#Promo .cont-item{
    background:transparent;
    position: absolute;
    text-align: center;
    border: #0B695E 3px solid;
    border-radius: 10px;
    height:200px; 
}
#Promo  cont-text{
    padding-bottom: 5px;
    color:#0B695E;   
}
#Promo .cont-item .cont-text h3{
  color: #0B695E;
}
#Promo {
    width: 100%;
    padding-bottom: 240px;
    background: url(../img/3bavkground1.jpg)center no-repeat; 
    background-size: cover;
    background-position: center; 
    position: relative;
    text-align: center;
}
/* Promociona2*/
#Promo2 .cont-item{
    background:transparent;
    text-align: center;  
}
#Promo2 .cont-item .cont-text{
    color:  #0B695E;       
}
#Promo2 .cont-item .cont-text h3{
  color:  #0B695E;
}
/* Equipo For*/
#EquipoF {
    position: relative;
    right: 0;
    left: 0;
    text-align: center;   
}
#EquipoF h3{
    color: white;
    background-color: teal;
    text-align: center;
    justify-content: center;
}
/* Footer*/
footer{
    background-color:  #0B695E;
    width: 100%;
    padding-bottom: 50px;
   
}  
#Redes  button{
    width: 180%;
    background-color: #79D698;
    color:white;
    border-color:white;
    margin: 10%;
    height: 70px;
    margin-top: 40px;
  
  
}
#Redes img {
  width: 50%;
  margin-top: 100px;    
}
